.contents p, .contents ul {
    font-size: 22px;
    line-height: 50px;
}

#login-dp {
    min-width: 300px;
    padding: 14px;
    overflow: hidden;
}

#sessionLogout {
    color: #ffffff;
}

ul.workspaces-list {
    margin: 0;
    padding: 0;
}
