<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title id="title">Misconduct Assessment Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Yucheng Xie & Stelios Milisavljevic">
    <meta name="description" content="Misconduct Assessment Tool">

    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">

    <script src="{% static 'js/jquery-3.3.1.js' %}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous" defer></script>    

    <link rel="icon" href="{% static 'ico/tinyi.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'ico/tinyi.ico' %}" type="image/x-icon">

    <!-- Global variables defined here -->
    <script>
        var toolName = "MAT";
        var pageName = "";

        // Highlighter colors using in segments selection
        var highLighterColors = [

            "#a8ddb5",
            "#c2e5f0",
            "#f0a8d2",
            "#f7a187",
            "#ff4d4d",
            "#ffff80",
            "#99ffff",
            "#ccebc5",
            "#66bd63",
            "#7bccc4",
            "#fde0dd",
            "#fdae61",
            "#fcc5c0",
            "#d9ef8b",
            "#fa9fb5",
            "#f768a1",
            "#fee08b",
            "#a6d96a",
            "#ffffbf",

        ];

        // Django global variables defined here
        // Global variables here must be provided by the back-end
        var fileToComparePathList = JSON.parse("{{ fileToComparePathList|escapejs }}");
        var resultsPathList = JSON.parse("{{ resultsPathList|escapejs }}");
        var folderPathList = JSON.parse("{{ folderPathList|escapejs }}");
        var segmentsPathList = JSON.parse("{{ segmentsPathList|escapejs }}");
        var detectionLibList = JSON.parse("{{ detectionLibList|escapejs }}");
        var configsList = JSON.parse("{{ configsList|escapejs }}");
        
        var detectionLibSelection = configsList["detectionLibSelection"];
        var detectionLanguage = configsList["detectionLanguage"];
    </script>

    <script src="{% static 'js/layout_load_before.js' %}" defer></script>
    {% block head %}
    {% endblock %}
    <script src="{% static 'js/layout_load_after.js' %}" defer></script>

    <!-- Overwirting options here-->
    {% block overWrite %}
    {% endblock %}

    <!-- 
        Please find the documents on github for more information about the usage of above blocks.
    -->
</head>

<body>
    <!--The top navbar-->
    <nav class="navbar fixed-top navbar-light bg-light border-bottom" id="topBar">
        <!-- Name shown-->
        <a class="navbar-brand" href="/" id="layoutToolName"><!--Tool-Name--></a>
        <!-- Page Title-->
        <header id="layoutHeader"><!--#Title--></header>
        <!-- Log in panel-->
        <div class="btn-group">

            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if user.is_authenticated %}
                    User: <i>{{ user.get_username }}</i>
                {% else %}
                    Sign In
                    <!--li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li-->
                {% endif %}
            </button>
            <div id="login-dp" class="dropdown-menu pull-right dropdown-menu-right px-4 py-3">
                {% if user.is_authenticated %}
                    <a class="btn btn-secondary btn-block" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
                {% else %}
                    <form class="" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <label for="id_username">Username:</label> <input class="form-control" id="id_username"
                                                                          type="text" name="username" maxlength="30"/>
                        <label for="id_password">Password:</label> <input class="form-control" type="password"
                                                                          name="password" id="id_password"/>
                        <br/>
                        <input type="submit" class="btn btn-primary btn-block" value="Log in"/>
                        <input type="hidden" name="next" value="{{ request.get_full_path }}"/>
                    </form>
                    <div class="dropdown-divider"></div>
                    <a class="btn btn-secondary btn-block" href="{% url 'signup' %}?next={{ request.path }}">Sign up</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!--The programming language choosing panel-->
    <div class="modal fade" id="programmingLanguageChoosingModal" tabindex="-1" role="dialog" aria-labelledby="programmingLanguageChoosingModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="programmingLanguageChoosingModalTitle">Detection Package</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 ml-auto border-right">
                            <h5>Select a detection package:</h5>
                            <form id="programmingLanguageChoosingDetectionLibForm">
                            </form>
                        </div>
                        <div class="col-md-6 ml-auto" id="programmingLanguageChoosingLanguageFormDiv">
                            <h5>Select the programming language of the suspect file:</h5>
                            <h7 id="programmingLanguageChoosingLanguageFormGuide">Select a detection package first.</h7>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="programmingLanguageChoosingModalSave">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    <!-- Contents on rest of the page-->
    <div class="container-fluid">
        <br>
        <nav class="row flex-xl-nowrap">
            <!-- Left side button area-->
            <div class="col-12 col-xl-2 w-sidebar position-fixed bd-sidebar sidebar border-right align-middle">
                {% block sideButton %}
                {% endblock %}

                <div class="modal fade" id="cancelButton" tabindex="-1" role="dialog" aria-labelledby="cancelButtonTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="cancelButtonTitle">Warning</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                You are going to lose all changes you have made.
                                Are you sure you want to cancel all your changes and return to first page?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <button type="button btn-primary" class="btn btn-primary" style="background-color: red" id="cancelButtonFinal">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Right side contents area-->
            <div class="col-12 bd-content contents">
                {% block content %}
                {% endblock %}
            </div>

            <!-- Hide contents area-->
            <div class="hiddenContentsDiv" id="hiddenContentsDiv" style="display: none">
            </div>
        </nav>
    </div>

    <!--The bottom navbar-->
    <!-- hide in small screens -->
    <footer class="footer d-sm-none d-md-block">
        <nav class="navbar navbar-light bg-light fixed-bottom border-top" id="bottomBar">
        </nav>
    </footer>

    <form method="post" id="cancelButtonFrom">
        {% csrf_token %}
        <input type="hidden" name="cancelButtonInput" id="cancelButtonInput">
    </form>

</body>
</html>