{% extends 'misconduct_detection_app/layout.html' %}

{% block sideButton %}
    <div class="offset-md-3">
        <a href="runningWaitingPage\"><button type="button" class="btn btn-outline-secondary btn-lg btn-custom-size" disabled id="nextButton">Next</button></a>
        <br><br>
        <a href="\examine\"><button type="button" class="btn btn-outline-secondary btn-lg btn-custom-size">Back</button></a>
        <br><br>
        <button type="button" class="btn btn-outline-secondary btn-lg btn-custom-size" data-toggle="modal" data-target="#cancelButton">Cancel</button>
        <br>
    </div>
        
    <hr>

    <form class="form-inline" role="form" method="post" enctype="multipart/form-data" accept-charset="utf-8" action="{{ request.build_absolute_uri }}uploadFile/" id="selectCode_Form">
        {% csrf_token %}
        <label for="selectCode_Input" class="btn btn-outline-primary btn-lg btn-custom-size-for-upload label-for-upload" id="selectCode_Label">
            Continue
        </label>
    </form>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="input-group col-12 col-md-12 col-lg-12">
                <textarea class="form-control" id="codeDisplayText" rows="30" readonly>#Code Here</textarea>

                <div class="flex-xl-nowrap">
                    <br><br>
                    <button type="button" class="btn btn-outline-secondary btn-sm" id="addSegment"><i class="material-icons">keyboard_arrow_right</i></button>
                    <div class="row"><br></div>
                    <div class="row"><br></div>
                    <div class="row"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
                    <button type="button" class="btn btn-outline-secondary btn-sm" id="delSegment"><i class="material-icons">clear</i></button>
                    <div class="row"><br></div>
                </div>

                <div class="card border-secondary" style="width: 48rem;" id="segmentDisplayBox">
                    <div class="card-body text-secondary text-center">
                        <h5 class="card-title">You have not added any code segment yet.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="display: none" id="hoverMenu">
        <p>Test here</p>
    </div>
{% endblock %}

{% block javaScriptOnPage %}
    <script>
        pageName = "Selection";
        const code = `{{ file_content }}`;
        document.getElementById("codeDisplayText").innerHTML = code;
        var segmentNumber = 0;
        var firstCall = true;

        document.getElementById("selectCode_Label").onclick = function() {
            selectedCode = new FormData($('#selectCode_Form')[0]);
            $.ajax({
                url: "{{ request.build_absolute_uri }}selectCode/",
                type: 'POST',
                cache: false,
                data: selectedCode,
                processData: false,
                contentType: false,
                dataType:"json",
                beforeSend: function() {
                    uploading = true;
                },
                success : function(data) {
                    uploading = false;
                }
            });
            
            document.getElementById("nextButton").removeAttribute("disabled");
        }


        document.onmouseup = document.getElementById("codeDisplayText").ondbclick= function(){
            /*
            TODO: Support multiple browser here
            */

            // var txt;
            // if(document.selection){
            //     txt = document.selection.createRange().text
            // }else{
            //     txt = window.getSelection()+'';
            // }
            // if(txt){alert(txt)}

            // TODO: Deselect example here.
            // if (window.getSelection) {
            //     if (window.getSelection().empty) {  // Chrome
            //         window.getSelection().empty();
            //     } else if (window.getSelection().removeAllRanges) {  // Firefox
            //         window.getSelection().removeAllRanges();
            //     }
            //     } else if (document.selection) {  // IE?
            //     document.selection.empty();
            // }

            // var selObj = window.getSelection(); 
            // if(selObj != ""){alert(selObj);}
            // var selRange = selObj.getRangeAt(0);
            // do stuff with the range
        }

        document.getElementById("addSegment").onclick = function() {
            if (firstCall) {
                document.getElementById("segmentDisplayBox").innerHTML = "";
                firstCall = false;
            }
            var selectText = window.getSelection(); 
            if(selectText != ""){
                segmentNumber++;
                var codeSegmentHeader = document.createElement("div");
                codeSegmentHeader.setAttribute("class", "card-header")
                codeSegmentHeader.innerHTML = "Segment " + segmentNumber;
                
                var codeSegmentDiv = document.createElement("div");
                codeSegmentDiv.setAttribute("class", "card-body text-secondary");

                var codeSegment = document.createElement("textarea");
                codeSegment.setAttribute("class", "form-control");
                codeSegment.setAttribute("id", "inputText");
                codeSegment.setAttribute("rows", "10");
                codeSegment.setAttribute("name", "Segment " + segmentNumber);
                codeSegment.setAttribute("form", "selectCode_Form");
                codeSegment.setAttribute("readonly", "readonly");
                codeSegment.innerHTML = selectText;

                codeSegmentDiv.appendChild(codeSegment);
                document.getElementById("segmentDisplayBox").appendChild(codeSegmentHeader);
                document.getElementById("segmentDisplayBox").appendChild(codeSegmentDiv);

            }
        }

    </script>
{% endblock %}