<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h1> This is the test upload Page! </h1>

<br>

<h3> Single file uploading test </h3>

<form class="form-inline" role="form" method="post" enctype="multipart/form-data" accept-charset="utf-8" action="{{ request.build_absolute_uri }}uploadFile/">
    {% csrf_token %}
    <div class="form-group">  
        <!-- <input type="file" name="file" multiple/>   -->
        <input type="file" name="file">
    </div>  
    <div class="form-group">  
        <input type="submit" value="upload">  
    </div>  
 </form>  

<br>

<h3> Folder uploading test </h3>

<form class="form-inline" role="form" method="post" enctype="multipart/form-data" accept-charset="utf-8" action="{{ request.build_absolute_uri }}uploadFolder/">
    {% csrf_token %}
    <div class="form-group">  
        <!-- <input type="file" webkitdirectory mozdirectory /> -->
        <input type="file" name="file" directory multiple webkitdirectory mozdirectory/>
    </div>  
    <div class="form-group">  
        <input type="submit" value="upload">  
    </div>  
 </form>  


 <a href="/upload/runjar"><button type="button" class="btn btn-primary">Run jar test</button></a>