{% extends 'misconduct_detection_app/layout.html' %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
    <script src="{% static 'js/upload.js' %}" defer></script>
{% endblock %}

{% block sideButton %}
    <div class="offset-md-3">
        <a href="\select\"><button type="button" class="btn btn-outline-secondary btn-lg btn-custom-size" onclick="submitAllFiles()" title="You have not uploaded any file yet" id="nextButton" disabled>Next</button></a>
        <br><br>
        <a href="\"><button type="button" class="btn btn-outline-secondary btn-lg btn-custom-size">Back</button></a>
        <br><br>
        <button type="button" class="btn btn-outline-secondary btn-lg btn-custom-size" data-toggle="modal" data-target="#cancelButton">Cancel</button>
        <br>
    </div>
    
    <hr>

    <form class="form-inline" role="form" method="post" enctype="multipart/form-data" accept-charset="utf-8" action="uploadFile/" id="uploadFile_Form">
        {% csrf_token %}
        <input type="file" name="file" onchange="uploadFile();" id="uploadFile_Input"> 
        <label for="uploadFile_Input" class="btn btn-outline-primary btn-lg btn-custom-size-for-upload label-for-upload" id="uploadFile_Label">
            Upload File
        </label>
    </form>

    <br>

    <form class="form-inline" role="form" method="post" enctype="multipart/form-data" accept-charset="utf-8" action="uploadFolder/" id="uploadFolder_Form" value="value">
        {% csrf_token %}
        <input type="file" name="file" onchange="uploadFolder();" id="uploadFolder_Input" directory multiple webkitdirectory mozdirectory> 
        <label for="uploadFolder_Input" class="btn btn-outline-primary btn-lg btn-custom-size-for-upload label-for-upload" id="uploadFolder_Label">
            Upload Folder
        </label>
    </form>

    <br>

{% endblock %}

{% block content %}
    <p id="upload_Content">
        At this page, you need to upload the file to be checked and the folder which contains files to be compared. <br> <br> <br>
        When the files are uploaded, click "Next" to continue. <br>
        If you wish to cancel your current job and go to last page, click "Back" to cancel your operations and return to last page.<br>
        If you wish to cancel your current job and go to the first page, click "Cancel" to cancel all your operations and return to first page.<br>
    </p>
{% endblock %}