{% extends 'misconduct_detection_app/layout.html' %}

{% block head %}
    {% load staticfiles %}
    <script src="{% static 'js/welcome.js' %}" defer></script>
{% endblock %}

{% block sideButton %}
    <div class="col-md-3">
        <a href="upload">
            <button class="btn btn-outline-secondary btn-lg btn-custom-size">
                <div class="row">
                    <div class="col-2">
                        <i class="material-icons">navigate_next</i>
                    </div>
                    <div class="col-8">
                        Next
                    </div>
                </div>
            </button>
        </a>
    </div>
    <br>
{% endblock %}

{% block content %}
    <p>
        Welcome the Misconduct Assessment Tool (MAT).
    </p>
    <p>
        The aim of this tool is to help situations where student
        submissions that are not obvious cases of academic misconduct, but suspected of misconduct due to <it>multiple
        small segments</it> being <it>similar.</it>
    </p>

    <ul>
        <li>First, upload the suspect file to check and a folder which contains all of the submissions</li>
        <!--li>Then, you will have a chance to review the files you uploaded and edit them.</li-->
        <li>Next, select the susceptible code segments from the suspect submission, to be compared with the rest of the submissions</li>
        <li>Finally, the results page provides more information about the segments and a final report can be generated for sharing.</li>
    </ul>

    <p>
        Click "Next" to begin.
    </p>
{% endblock %}